body {
	margin: 0;
	background-color: #fff;
	color: #000;
	font-family: Arial;
	font-weight: bold;
	font-size: 24px;
	/*line-height: 24px;*/
	overscroll-behavior: none;
}
#screen {
	text-align: center; 
	margin: 100px 0px 0px 0px;
}
#txt {
	text-align: center; 
	margin:20px;
}
#img{
	align: auto;
	top: auto;
}
.header{
	padding: 15px 0px 15px 0px;
	display: flex;
	justify-content: space-between;
}
.header__section{
	display: flex;
	align-items: flex-start;
}
.header__section: {
	display: flex;
	align-items: flex-start;
}
.header__item{
	margin: 0 15px 0 0;
	font-size: 14px;
	font-weight: 400;
	flex-basis: 200px;
}
.wrapper{
padding: 0 40px 0 40px;
margin: 0 auto;
}
.works{
	display: grid;
	grid-template-columns:50% 50%;
	grid-row-gap: 40px;
	grid-column-gap: 20px;
}
.work__item{
  	position: relative;
    font-size: 20px;
    line-height: 24px;
}
.work__item:first-child,
.work__item:nth-child(3n+4) {
  grid-column: 1 / 3;
}
.work__link a {
	color: #0060A0;
	font-size: 32px;
    font-weight: 600;
	text-decoration: underline;
	text-underline-offset: -4px;
	text-decoration-thickness: 1px;
	 text-underline-position: under;
}
.work__link a:hover{
	color: #CE3A00;
}
.work__img img{
	width: 100%;
	margin-bottom: 8px;
}
.work__link a:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
